.movies_container {
    margin: auto;
    padding: 20px;
    user-select: none;
}

.recommendation {
    padding: 20px 0px;
}

.movies {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding: 5px 0px;
}