.movies_container {
    margin: auto;
    padding: 20px;
}

.recommendation {
    padding: 20px 0px;
}

.search_bar {
    padding: 5px;
    display: block;
    margin: auto;
    background-color: var(--bgcolor);
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    transition: 0.3s all;
}

.search_bar:focus {
    animation: search 0.3s infinite;
}

.movies {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding: 5px 0px;
}