* {
    margin: 0;
    padding: 0;
    font-family: "arial";
    color: white;
}

:root {
    --bgcolor: rgb(31, 29, 29);
}

.website_container {
    background-color: var(--bgcolor);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #b8b8b8;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}